/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0088cc;
$yellow: #ffce39;
$green: #05ae3b;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 16;
$base-font-size: 16px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "brandon-grotesque",sans-serif;
$body-font: "ff-tisa-web-pro",serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;
$break-xlarge: 1140px;
$break-xxlarge: 1280px;