<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }} | {{ _site_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ theme:css src="master" }}" />

  <!-- JS -->
  <script type="text/javascript" src="//use.typekit.net/nnw2daj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]>
      <script src="{{ theme:js src="plugins/html5shiv" }}"></script>
      <script src="{{ theme:js src="plugins/respond.min" }}"></script>
  <![endif]-->

  <link rel="icon" type="image/png" href="{{ theme:img src="favicon.ico" }}" />
  <link rel="author" href="https://plus.google.com/u/0/114092254419895963705/about"/>
</head>
<body>