<div class="portfolio">
    <div class="desc">

    </div>
</div>
<div id="contact" class="contact-footer">
  <div class="container">
    <img src="{{ theme:img src='profile.jpg' }}" alt="Brandon Ewoldt" class="headshot" width="180" height="180">
    <p class="social-icons">
        <a class="link-twitter" href="https://twitter.com/brandonewoldt" target="_blank"><i class="icon-twitter"></i></a>
        <a class="link-linkedin" href="http://www.linkedin.com/in/brandonewoldt" target="_blank"><i class="icon-linkedin"></i></a>
        <a class="link-google" href="https://plus.google.com/114092254419895963705/posts/" rel="author" target="_blank"><i class="icon-google-plus"></i></a>
        <a class="link-pinterest" href="http://www.pinterest.com/bewoldt/" target="_blank"><i class="icon-pinterest"></i></a>
        <a class="link-instagram" href="http://instagram.com/bewoldt" target="_blank"><i class="icon-instagram"></i></a>
        <a class="link-github" href="https://github.com/bewoldt" target="_blank"><i class="icon-github"></i></a>
        <a class="link-email" href="mailto:bewoldt1@gmail.com" target="_blank"><i class="icon-envelope"></i></a>
    </p>
    <br>
    <h2 class="text-center">Contact</h2>
    <p class="text-center">I am currently <strong class="green">available</strong> for freelance opportunities. <br>I'd love to talk with you about your next project.<br></p>
    <p class="text-center"><a href="mailto:bewoldt1@gmail.com" class="get-started talk"><b>Let's Get Started</b></a></p>
  </div>
</div>