<article class="blogarticle" itemscope itemtype="http://schema.org/Article">
  <header class="entry-header">
    <h1 class="entry-title container" itemprop="name">{{ title }}</h1>
    <p class="entry-date"><time itemprop="datePublished" datetime="{{ datestamp format="c" }}">{{ datestamp format="F jS, Y" }}</time> by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="https://plus.google.com/114092254419895963705" itemprop="url" rel="author"><span itemprop="name">{{ member:profile member="{author}" }}{{ first_name }} {{ last_name }}{{ /member:profile }}</span></a></span></p>
  </header>
  <div class="entry-content">
    <div itemprop="articleBody">
      {{ content }}
    </div>
    
    {{ if categories }}
      <hr>
      <p class="entry-meta"> Filed under {{ categories_url_list }}.</p>
    {{ endif }}

  </div>
</article>

{{ entries:previous folder="blog" }}
    {{ if !no_results }}
        <div class="prev-post">
          <a href="{{ url }}">
            <p class="prev-post-next">Previous Article</p>
            <h3 class="prev-post-title text-center">{{ title }}</h3>
          </a>
        </div>
    {{ endif }}
{{ /entries:previous }}


